*.o
lib
test
windows/calibrate.exe
windows/calinfo/1.json.gz
windows/calibrate.def
windows/calinfo/3.json.gz
windows/calinfo/WM1_points.csv
windows/calinfo/HMD_normals.csv
windows/calinfo/WM0_points.csv
windows/calinfo/WM1_normals.csv
windows/calinfo/HMD_points.csv
windows/calinfo/WM0_normals.csv
windows/calinfo/2.json.gz
