*.o
lib
test
winbuild/calibrate.exe
winbuild/calinfo/*
winbuild/calibrate.def
winbuild/udev[USB_DEV_LIGHTHOUSE]
winbuild/config.json
winbuild/x64/*
winbuild/calibrate/calinfo/*
winbuild/calibrate/config.json
winbuild/calibrate/x64/*
winbuild/libsurvive/x64/*
winbuild/data_recorder/x64/*
winbuild/.vs/*
*.user
*.ipch
winbuild/.vs/libsurvive/v15/.suo
*.tlog
winbuild/calibrate.exe
winbuild/calibrate.def
*~
*/\#*\#
\#*\#
*.so
calinfo
calibrate_client
calibrate
test
.idea
*.json
*.csv
data_recorder
simple_pose_test
/bindings/cs/.vs/LibSurviveBinding/v15
/bindings/cs/packages
/bindings/cs/x64/Debug
/winbuild/packages
